#files-menu {
    list-style-type: circle;
    list-style-position: outside;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
  }

#files-menu a {
    color: black;
    text-decoration: none;
}

#files-menu li a:hover{
    color: red;
  }

.menu-title{
  text-align: center;
  font-weight:  bold;
  font-size: 14px;
}